@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
}
body{
min-height: 100vh;
background:black;
font-family: cursive;
max-width: 100%;
overflow-x: hidden;
}
header{
    background-color: #7C1313;
    padding-top: 10px;
    padding-bottom: 25px;
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 25px;
}

h1{
    
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
    font-size: 30px;
    margin-left: 60px;

}
header{
    background-color: #7C1313;
    padding-top: 10px;
    padding-bottom: 50px;
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 25px;


}


#hh{ 
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    margin-left: 30px;
    margin-top: 5px;
    text-decoration: none;

}
ul li {
    color: #ffff;
    float: right;
    margin-left: 10px;
    display: inline;
    position: right;
    margin-right: 40px;
    
}

ul li a{
    font-size: 20px;
    
    color: #ffff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    padding-left: 5px;
}

footer{
    margin-top: 850px;
    font-size: 15px;
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
    background-color: #7C1313;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}


.container{
position: relative;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100vh;
flex-wrap: wrap;

}
.events .event-card{
    z-index: 1;
    background: #1D212B;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    border-radius: 10px;
}
.events .event-card:before{
content: "";
background: rgba(255, 255, 255, 0.1);
position: absolute;
display: block;
top: 0;
left: 0;
width: 50%;
height: 100%;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

}
.events .event-card .event-img{
    height: 200px;
z-index: 1;
position: absolute;
width: inherit !important;
width: 350px;
top: 30%;
left: 50%;
transform: translate(-50%,-50%);

}
.events .event-card .name{

    z-index: 2;
    color:#fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 130px;
    font-size: 20px;
    letter-spacing: 1px;
}

.events .event-card .price{
   
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
text-align: center;
bottom: 80px;
font-size: 30px;
font-weight: 300;
}
.events .event-card .popup-btn{

z-index: 2;
color: #fff;
background: #555;
position: absolute;
bottom: 20px;

left: 50%;
transform: translateX(-50%);
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
padding: 10px 15px;
border-radius: 20px;
cursor: pointer;
}

.events .popup-view{
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;


}

.events .popup-view.active{
    opacity: 1;
    visibility: visible;

}


.events .popup-card{
position: relative;
display: flex;
width: 800px;
height: 500px;
margin: 20px;

}

.events .popup-card .event-img{
    z-index: 2;
    background: #1D212B;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;


}
.events .popup-card .event-img img{

z-index: 2;
/*position: relative;*/
width: 350px;
left: -50px;

}
.events .popup-card .info{
z-index: 2;
background: #fff;
display: flex;
flex-direction: column;
width: 55%;
height: 100%;
box-sizing: border-box;
padding: 40px;
border-radius: 10px;
}

.events .popup-card .close-btn{
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
    
    
}
.events .popup-card .info h2{
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
    font-weight: 900;
font-family: cursive;

}
.events .popup-card .info p{
padding-top: 20px;
margin-bottom: 50px;
    font-size: 15px;
    line-height: 2;
    font-family: cursive;
font-weight: 700;
    

}
.events .popup-card .info .price{
font-size: 45px;
font-weight: 500;
margin: 10px;
margin-left: 150px;
padding-bottom: 20px;
font-family: cursive;

}
.events .popup-card .info .add-card-btn{

color: #fff;
background: #009dd2;
font-size: 19px;
font-weight: 600;
text-align: center;
text-decoration: none;
margin: 10px auto;
padding: 10px 50px;
border-radius: 20px;
margin-bottom: -20px;
font-family: cursive;



}

.producstOnCart {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #202020;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
}

.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hidden {
    display: none;
}
.hide {
    display: none;
}
.btn {
    background-color: #96c8cc;
    padding: 15px 50px 15px 30px;
    color: #141414;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    font-size: 1.1rem;
    position: relative;
}
.top h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
.fas {
        font-size: 1rem;
    }
	
	.top button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    color: #c24c37;
    cursor: pointer;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}

.producstOnCart img {
    width: 90px;
}

.producstOnCart .top {
    display: flex;
    background-color: #616161;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}
.producstOnCart > .checkout {
    font-size: 0.9rem;
    margin: 20px auto;
    border: none;
    background-color: #297075;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
}

.overlay {
    overflow: hidden;
    display: inline-block;
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
}
.stopScrolling {
    height: 100vh;
    overflow: hidden;
}
.buyItem h6 {
    margin-bottom: 10px;
}

.buyItem button {
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0 6px;
    border: none;
}

.buyItem button:active {
    color: #96c8cc;
}

.buyItem > div {
    padding: 0 20px;
}

.producstOnCart .empty {
    justify-self: center;
    margin: 150px auto;
}

.price {
    color: #dd3333;
    margin-top: 10px;
    text-align: left;
    padding: 5px;
    font-size: 1rem;
}
 .event-card h6{
    color: #dd3333;
    margin-top: 10px;
    text-align: left;
    padding: 5px;
    font-size: 1rem;
    margin-left:-30px;
	display:fixed;
}

@media(max-width :900px){
    .events .popup-card {
        flex-direction: column;
        width: 550px;
        height: auto;
    }
    .events .popup-card .event-img{

        z-index: 3;
        width: 100%;
        height: 200px;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;


    }

    .events .popup-card .event-img img{

        left: initial;
        max-width: 100%;
    }
    .events .popup-card .info{

        width: 100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

    }

    .events .popup-card .info h2{
        margin: 20px 5px 5px 5px;
        font-size: 25px;


    }

    .events .popup-card .info p{
        margin: 5px;
        font-size: 13px;

    }
    .events .popup-card .info .price{
        margin: 5px;
        font-size: 30px;
        
    }
	   .events .popup-card .info .price h6{
        margin: 5px;
        font-size: 30px;
        
    }

    .events .popup-card .info .add-card-btn{
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;

    }
.events .popup-card .close-btn{
z-index: 4;
}

}



@media screen and (max-width: 500px) {
    .btn {
        font-size: 0.9rem;
    }

    .navbar {
        width: 100vw;
        height: 430px;
    }

    .producstOnCart {
        font-size: 0.8rem;
    }



    .product-summary .price {
        display: inline;
        left: 0;
    }


    .fas {
        font-size: 1rem;
 
}}



