@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#mainpage{
	background-size: cover;
}

#second{
	
	margin-top: -50px;
}
h1 {
	margin: 15px;
	font-size: 20px;
	color: rgb(8, 8, 8);
	font-family: 'Pacifico', cursive;
}

h2 {
	margin: 15px;
	font-size: 24pt;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.sidenav {
	height: 100%;
	width: 150px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	box-shadow: 1px 1px 5px #aaa;
}

.main {
	margin-left: 160px;
	font-size: 28px;
	padding: 0px 10px;
	position: relative;

}



.main a {
	font-size: 20px;
	padding: 20px 8px 6px 16px;
	float: right;
	display: inline;
	text-decoration: none;
	color: black;
	font-weight: 700;

	/* background-color: #7C1313; */
}



#wrapper {
	padding-top:100px;
	width: 100%;
	height: 45%;
	position: relative;
	overflow: hidden;
	color: white;
	font-size: 11pt;
	
}

#first {
	width: 50%;
	float: left;
	
}

#second {
	float: left;
	position: relative;
	max-width: 20rem;
	color: black;
	font-weight: 700;
	
}


html{
  min-height: 100%;
  overflow: hidden;
}


body{
  height: calc(100vh - 8em);
  padding: 2em;
  /* color: rgba(255,255,255,.75); */
  font-family: 'Roboto', sans-serif; 
  background-image: url("https://images.unsplash.com/photo-1543467091-354f7d517bd0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1428&q=80");
background-size: cover;
/* background-repeat: no-repeat; */

}


.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(3, 3, 3, 0.75);
    font-size: 110%;
    text-align: center;
    white-space:nowrap;
    overflow:hidden;
    transform: translateY(-10%);  
	text-align: justify;
	
	
	
}




.anim-typewriter{
  animation: typewriter 10s steps(444) 2s 10 normal both,
             blinkTextCursor 500ms steps(444) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 25em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0,0,255,1);}
  to{border-right-color: transparent;}
}

img{
	position: fixed;
	width: 75px;
	margin-top: -5px;
	margin-left: 3px;

}

#sidenavIcon{
	margin-top: 660px;
	margin-left: 35px;

}
#footerh1{
	text-align: center;
	margin-top: 330px;
	color: black;
	/* padding: 10px; */
	/* padding-top: 15px;
	padding-bottom: 15px; */
	float: left;
	font-weight: 600;
}
